/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #333;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

p+p {
  margin-top:1em;
}
a {
  color:white;
}

canvas {
  display: block;
  margin: 0 auto;
  position:fixed;
  left:0;
  right:0;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

h1 {
  text-align: center;
  margin:0;
}

progress {
  border: none;
  border-radius: 2px;
  height: 10px;
  background: #333;
}

#game-ui {
  position:relative;
  margin: 0 auto;
  width:800px;
  height:600px;
}

#game-title {
    font-size: 48px;
    margin-bottom: 10px;
}

#timer-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 90%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 10px;
}

#player2-stats { color: red;}

#timer-container p {
  margin: 0;
}

#main-menu {
    background: #000 url('header.jpg') 0 0 no-repeat;
}

.timer {
    font-size: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  border-radius: 12px;
}

.overlay .container {
 padding:12px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 6px;
}

button.dark{
  background-color: #666;
}

button:hover {
  background-color: #45a049;
}

button.dark:hover {
  background-color: #777;
}

[hidden] {
  display: none !important;
}

.flexrows {
  flex-direction: row;
  display:flex;
  gap: 10px;
}

.flexcolumns {
  flex-direction: column;
  display:flex;
  gap: 10px;
}

.flexrows,
.flexcolumns {

}

.flexrows img {
  border-radius: 8px;
  border:2px solid #000;
  width:64px;
}
.flexrows .selected {
  border-radius: 8px;
  border:2px solid #f8f8f8;
}


.bike-image {
  cursor: pointer;
  width: 100px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.bike-image.selected {
  opacity: 1;
}

.bikes p,
.bikes ul,
.bikes li,
.bikes h3 {
  margin:0;
  padding:0;
  font-size:9px;
}
.bikes li {
  list-style:none;
}
.bikes h3 {
  font-size:14px;
}

.border {
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
  background-color: #0000002e;
}

.border.invert {
  color: black;
  background-color: #ffffffc7;
}

.introAnim {
  opacity: 0;
  animation: revealIntro 3s forwards;
}

.logo {
  position:relative;
  margin-bottom: 1em;
  height:100px;
}

.logoAnim {
  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: revealLogo 2s forwards;
}

@keyframes revealLogo {
  0% {
    opacity: 0;
    top:250px;
  }
  50% {
    opacity: 1;
    top:250px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}

@keyframes revealIntro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.infoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.infoBox.visible {
  display: block;
  opacity: 1;
}

.motd {
  margin-bottom:2em;
}
